<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">


  <h4 id="scrollspyHeading1"></h4>
  <div class="d-flex justify-content-evenly align-items-center">

    <div>

      <img class="FirstImg" src="https://img.freepik.com/free-photo/portrait-man-cartoon-style_23-2151134303.jpg?t=st=1730406541~exp=1730410141~hmac=051eb9ff0a376647db71e376b6faca60bffef2f760d3be36ad141af418a36e66&w=900" alt="">

    </div>

    <div>

      <div>
        <h2>Alazar Bekele</h2>
      </div>

      <div>
        <h4>Software Developer</h4>
      </div>

    </div>

  </div>


  <h4 id="scrollspyHeading2">Second heading</h4>
  <p style="color: brown;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!</p>



  <h4 id="scrollspyHeading3">Third heading</h4>
  <p style="color: pink;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!</p>



  <h4 id="scrollspyHeading4">Fourth heading</h4>
  <p style="color: blue;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!</p>



  <h4 id="scrollspyHeading5">Fifth heading</h4>
  <p style="color: purple;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!</p>



    
  <h4 id="scrollspyHeading6">Six heading</h4>
  <p style="color: rgb(25, 0, 136);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!</p>
</div>