<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">


  <h4 id="scrollspyHeading1"></h4>
  <div class="d-flex justify-content-evenly align-items-center mb-5">

    <div>

      <img class="FirstImg" src="https://img.freepik.com/free-photo/portrait-man-cartoon-style_23-2151134303.jpg?t=st=1730406541~exp=1730410141~hmac=051eb9ff0a376647db71e376b6faca60bffef2f760d3be36ad141af418a36e66&w=900" alt="">

    </div>

    <div class="text-center">

      <div>
        <p>Hello, I'm</p>
      </div>

      <div>
        <h1>Alazar Bekele</h1>
      </div>

      <div>
        <h4>Software Developer</h4>
      </div>

    </div>

  </div>




  <h4 id="scrollspyHeading2"></h4>
  <div class="">

    <div>

      <div class="d-flex justify-content-evenly align-items-center">

        <div class="d-flex justify-content-around align-items-center">

          <div class="col-6">

            <div class="col">
    
              <img class="" src="https://img.icons8.com/?size=100&id=9oUOrI5mCb9u&format=png&color=000000" alt="">
    
            </div>
            
            <div class="col">
    
              <h3>Experience</h3>
              <p>+1.5 years <br> ForntEnd Development</p>
    
            </div>
    
            <div class="col-6">
    
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit ad distinctio, eveniet, ab optio, eaque non numquam velit nostrum minima sequi! Sint voluptate commodi libero aliquam laborum, asperiores repellat deserunt?</p>
      
            </div>
    
          </div>
    
          <div class="col-6">
    
            <div class="col">
    
              <img src="https://img.icons8.com/?size=100&id=77565&format=png&color=000000" alt="">
    
            </div>
    
            <div class="col">
    
              <h3>Education</h3>
              <p>KEHAS <br> Grade 11 HIGHSCHOOL BOY</p>
    
            </div>
    
            <div class="col-6">
    
              <p class="fs-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit ad distinctio, eveniet, ab optio, eaque non numquam velit nostrum minima sequi! Sint voluptate commodi libero aliquam laborum, asperiores repellat deserunt?</p>
      
            </div>
    
          </div>

        </div>

      <div>

        <img class="rounded SecondImg" src="https://img.freepik.com/free-photo/medium-shot-anime-style-man-portrait_23-2151067446.jpg?t=st=1730410186~exp=1730413786~hmac=76041007b3aa1c59e2b7587d82896a1e72bf4844a63630029e9ce0c0f4ddad9d&w=740" alt="">
  
      </div>

    </div>

  </div>



  <h4 id="scrollspyHeading3">Third heading</h4>
  <p style="color: pink;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!</p>



  <h4 id="scrollspyHeading4">Fourth heading</h4>
  <p style="color: blue;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!</p>



  <h4 id="scrollspyHeading5">Fifth heading</h4>
  <p style="color: purple;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!</p>



    
  <h4 id="scrollspyHeading6">Six heading</h4>
  <p style="color: rgb(25, 0, 136);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ipsa totam, accusamus quia dicta maxime laudantium cumque. Nesciunt asperiores, blanditiis id magni, vitae iusto saepe impedit soluta voluptatem deleniti consectetur.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum tempora quas doloremque ullam est omnis veritatis quaerat, veniam ab consequatur nobis nesciunt repellendus ducimus. Temporibus illum suscipit quidem aut!</p>
</div>